VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(0, 3, 0, 2),
    prodvers=(0, 3, 0, 2),
    mask=0x3f,
    flags=0x0,
    OS=0x40004,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
    ),
  kids=[
    StringFileInfo(
      [
      StringTable(
        u'040904B0',
        [StringStruct(u'CompanyName', u'JachyHm'),
        StringStruct(u'FileDescription', u'Mapy.cz static images for RailWorks'),
        StringStruct(u'FileVersion', u'0.3.0.2'),
        StringStruct(u'InternalName', u'MapyCZforTS'),
        StringStruct(u'LegalCopyright', u'Copyright 2018 JachyHm'),
        StringStruct(u'OriginalFilename', u'MapyCZforTS.exe'),
        StringStruct(u'ProductName', u'MapyCZforTS'),
        StringStruct(u'ProductVersion', u'0.3.0.2')])
      ]), 
    VarFileInfo([VarStruct(u'Translation', [1029, 1200])])
  ]
)